<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>队列的实现</title>
</head>
<body>
  <h1>击鼓传花</h1>
  <div>孩子们围成一个圆圈，把花尽快地传递给旁边的人。某一时刻传花停止，
    这个时候花在谁手里，谁就淘汰。
  </div>
  <div>
    <textarea placeholder="请输入玩游戏的人员，人员之间用空格隔开~" id="users"></textarea>
  </div>
  <button id='add'>确定</button>
  <button id='start'>开始</button>
  <button id='pause'>停止</button>
  <p class="time"></p>
  <div class="result"></div>
</body>
</html>