<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>前端路由</title>
</head>

<body>
	<!-- hash路由带有#, history路由没有 -->
	<p>hash</p>
	<ul>
		<li><a href="#/">turn yellow</a></li>
		<li><a href="#/blue">turn blue</a></li>
		<li><a href="#/green">turn green</a></li>
	</ul>
	<p>history</p>
	<ul>
		<li><a href="/"> turn yellow </a> </li>
		<li><a href="/blue"> turn blue </a> </li>
		<li><a href="/green"> turn green </a> </li>
	</ul>
</body>

</html>